<div class="nav-extension"></div>
<div class="container" role="main">
    <div class="shadow details-container box">
        <h4>Job History</h4>
        <hr class="horizontal-line">
        <form id="job-history-form" class="info">
            <div class="form-group">
                <label for="form-job-def-id">Job Definition URL/ID</label>
                <input type="text" class="form-control" id="form-job-def-id" name="job-def-id" placeholder="Job Def URL/ID">
            </div>
          <div>
            <label class="radio-inline">
                <input type="radio" name="optradio">Heuristics
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio">Time
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio">Resources
            </label>
            </div>
            <br/>
            <button type="submit" class="btn btn-default">Search</button>
        </form>
    </div>
  {{outlet}}
</div>