<div class="nav-extension"></div>

<div style="opacity: 0.3; margin-top: 50px;">
<div class="container" role="main">
    <div class="shadow details-container box" style="height: 500px;">
        <img src='assets/images/ajax-loader.gif' style="margin: auto; display: block; padding-top: 200px;">
        <h4 align="center">preparing cure...</h4>
    </div>
    <div class="shadow summary-list-container" style="height: 300px;"></div>
</div></div>>


